
h1 {
    font-family: 'Indie Flower', cursive;
    font-weight: lighter;
}

#argument {
    font-style: italic;
}

.main-actor {
    font-weight: bold;
}
ul {
    list-style-type: none;
}
#any\ produccio {
    font-size: 1.5em;
}